<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, <%= user.email %>!</h1>
    <h2>Your Files:</h2>
    <ul>
        <% user.files.forEach(file => { %>
            <li><%= file.name %></li>
        <% }); %>
    </ul>

    <div class="upload">
        <p>Upload a new file:</p>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Upload</button>
        </form>
    </div>
</body>
</html>