/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

html, body{
    height: 100%;
}

a{
    text-decoration: none;
}   

:root {
    --primary-color: hsl(110, 90%, 20%);
    --secondary-color: hsl(64, 86%, 43%);
    --font-family: Arial, sans-serif;

    /* Background */
    --bg-dark: hsl(0, 0%, 10%);
    --bg-light: hsl(0, 0%, 20%);
    --bg: hsl(0, 0%, 15%);  
    --gradient: linear-gradient(135deg, var(--bg-dark), var(--bg-light));

    /* Text */
    --text-primary: hsl(0, 0%, 90%);
    --text-secondary: hsl(0, 0%, 70%);

    /* Text size */
    --text-size-small: 0.8rem;
    --text-size-medium: 1rem;
    --text-size-large: 1.2rem;

    /* spacing */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;

    /* border */
    --border: 1px solid var(--bg-light);
    --border-radius: 5px;
}

body{
    font-family: var(--font-family);
    background: var(--gradient);
    color: var(--text-primary);
    height: 100vh;
}

.auth{
    font-family: var(--font-family);
    background: var(--gradient);
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.authWrapper{
    background: var(--bg);
    padding: var(--spacing-large);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-large);
}

.input-scn{
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-medium);
    width: 100%;
}

.btn {
    padding: var(--spacing-small);
    border-radius: var(--border-radius);
    background-color: var(--bg-light);
    color: var(--text-primary);
    border: none;
    font-size: var(--text-size-small);
    transition: 80ms ease-in-out;
}
.btn:hover {
    cursor: pointer;
    scale: 1.05;
    transform: translate(y);
}

header{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    color: var(--text-secondary);
    padding: 30px;
    background-color: var(--bg);
    border-bottom: var(--border);
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-small);
}

section {
    min-height: 30vh;
    background-color: var(--bg-dark);
    padding: var(--spacing-medium);
    display: flex;
    flex-direction: column;
    justify-content: center;    
    border: 1px solid var(--border);
}

.files{
    flex-direction: row;
    justify-content: space-evenly;
}

.files div{
    width: 45%;
    background-color: var(--bg);
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card{
    background-color: var(--bg);
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
}

.folders{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.folder-divs ul, ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--spacing-small);
}

.card a {
    color: var(--text-secondary);
}

.folder-actions {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-small);
    align-items: center;
}

.red{
    background-color: rgb(94, 4, 4);
}

.blue {
    background-color: rgb(7, 62, 94);
}

.green {
    background-color: rgb(2, 66, 2);
}

input {
    background-color: var(--bg-light);
    border: none;
    padding: var(--spacing-small);
    border-radius: var(--border-radius);
    color: var(--text-primary);
}

.file {
    background-color: var(--bg);
    border-radius: var(--border-radius);
    padding: var(--spacing-medium);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    
}

.file a{
    color: var(--text-secondary);
}

@media screen and (max-width: 600px) {
    .files {
        flex-direction: column;
        gap: var(--spacing-medium);
    }

    .files div {
        width: 100%;
    }
    
}