/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

a{
    text-decoration: none;
}   

:root {
    --primary-color: hsl(110, 90%, 20%);
    --secondary-color: hsl(64, 86%, 43%);
    --font-family: Arial, sans-serif;

    /* Background */
    --bg-dark: hsl(0, 0%, 10%);
    --bg-light: hsl(0, 0%, 20%);
    --bg: hsl(0, 0%, 15%);  
    --gradient: linear-gradient(135deg, var(--bg-dark), var(--bg-light));

    /* Text */
    --text-primary: hsl(0, 0%, 90%);
    --text-secondary: hsl(0, 0%, 70%);

    /* Text size */
    --text-size-small: 0.8rem;
    --text-size-medium: 1rem;
    --text-size-large: 1.2rem;

    /* spacing */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;

    /* border */
    --border: 1px solid var(--bg-light);
    --border-radius: 5px;
}

body{
    font-family: var(--font-family);
    background: var(--gradient);
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.authWrapper{
    background: var(--bg);
    padding: var(--spacing-large);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-large);
}

.input-scn{
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-medium);
    width: 100%;
}

.btn {
    padding: var(--spacing-small);
    border-radius: var(--border-radius);
    background-color: var(--bg-light);
    color: var(--text-primary);
    border: none;
}
.btn:hover {
    background-color: var(--bg-dark);
    cursor: pointer;
}